.cvWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.leftSide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 0 1 33.33%;
  border-right: 1px dashed #fff;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: auto;
}