.appWrapper {
  width: 1000px;
  min-height: calc(100vh - 40px);
  background-color: #353539;
  //background-color: #44474b;
  padding: 0 20px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 15px 15px 50px #000;
}