.avaWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #fff;
  width: 80%;
  padding: 10px;
}

.avatar {
  border-radius: 50%;
  width: 100%;
  height: auto;
}